<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean name="randomWordGenerator" class="dk.ralu.springtutorial.bean.RandomWordGenerator"/>

  <bean name="messageGenerator" class="dk.ralu.springtutorial.bean.MessageGenerator">
    <property name="randomWordGenerator" ref="randomWordGenerator"/>
  </bean>

</beans>
